.player{
    display: flex;
    align-items: center;
    width: 300px;
    
    

    >span{
        font-size: 40px;
        margin-left: 16px;
        font-family: 'Permanent Marker';
        color: white;
    }
    >img{
        width: 70px;
        height: 70px;
        object-fit: cover;
        border-radius: 100%;
        background: none;
    }
}

.player-active{
    background-color: orange;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}