@import '../../styles.scss';

.start-screen {
    background-color: #404040;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-image: url('../../assets/img/startpicture.jpg');
    background-position: center;
    background-size: cover;
    @include dFlex($ai: start, $jc: start);

    >h1 {
        font-size: 100px;
        color: white;
        font-family: 'Permanent Marker';

        >span {
            &:nth-child(2){
               padding-left: 126px;
            }
            &:nth-child(4){
                padding-left: 200px;
            } 
        }
    }
}

#start-btn{
    width: 300px;
    height: 200px;
    position: absolute;
    @include dFlex();
    bottom: 0;
    right: 0;
    font-size: 40px;
    border: none;
    border-top-left-radius: 100%;
    font-family: 'Permanent Marker';
    color: white;
    background-image: url('../../assets/img/btnFire.jpg');
    background-size: cover;
    background-position: bottom;
    cursor: pointer;
    transition: transform 1s ease;

    &:hover{
        transform: scale(1.1);
        
    }
}
