@import '../../styles.scss';

.game-field {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-image: url(../../assets/img/board.jpg);
    @include dFlex();
}

.card-stack {
    position: relative;

    >img {
        position: absolute;
        width: 120px;

    }

    @media (max-height: 620px) {
        >img {
            width: 80px;
        }
    }
}

.top-card {
    cursor: pointer;
    transition: all 125ms ease-in-out;

    &:hover {
        transform: scale(1.1) translateY(-10px);
    }
}

.pick-card {
    animation: pick-card-animation 1s ease-in-out;
    transform: scale(1.1) translateX(130px) translateY(-180px) rotate(-20deg);
}

.played-card {
    right: 25px;
    transform: scale(1.1) translateX(130px) translateY(-180px) rotate(-20deg);
}

@keyframes pick-card-animation {
    0% {
        transform: scale(1);
    }

    40% {
        transform: scale(1.7);
    }

    60% {
        transform: scale(1.7);
    }

    100% {
        transform: scale(1.1) translateX(130px) translateY(-180px) rotate(-20deg);
    }
}

.player-position {
    position: absolute;
    right: 0;
    z-index: 1;
}

.button-add {
    position: absolute;
    right: 32px;
    bottom: 32px;
    z-index: 2;

    @media (max-width:960px) {
        bottom: 7px;
        width: 48px;
        height: 48px;
    }
}

.info {
    position: absolute;
    bottom: 32px;
    left: 100px;
    right: 100px;

    @media (max-width:960px) {
        left: 0;
        right: 0;
        bottom: 0;

    }

}

.scroll-container {
    position: absolute;
    display: flex;
    left: 0;
    right: 0;
    top: 0;
    overflow-x: scroll;
    overflow-y: hidden;

    @media (min-width:720px) {
        overflow-x: hidden;
    }

    app-player-mobile {
        margin-left: 8px;
        margin-right: 8px;
    }
}

app-player,
app-player-mobile {
    cursor: pointer;

    &:hover{
        filter: brightness(1.1);
    }
}